<div id="saveModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Save zone changes</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="commit_message">Before saving your changes please briefly describe your intent.</label>
                    <input ng-model="zone.commitMessage" class="form-control" id="commit_message" name="commit_message" placeholder="Updated {{ zone.name }}">
                </div>
                <p>Changes will be immediately visible in the DNS once saved.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveZone()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="rollBackModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Roll back to previous revision</h4>
            </div>
            <div class="modal-body">
                <p>The selected revision will be loaded in to the editor for review <span ng-show="anyUnsavedRecords()">and <strong>unsaved changes in the editor will be lost.</strong></span></p>

                <div class="list-group revision-list">
                    <span data-dismiss="modal" class="list-group-item" ng-repeat="revision in revisions  | startFrom:currentRevisionPage*10 | limitTo:10" ng-click="loadRevision(revision.created, revision.user, revision.id)">
                        <span class="badge" ng-if="$first">Live zone</span>
                        <h4 class="list-group-item-heading">{{ revision.created | date:'yyyy-MM-dd HH:mm:ss' }} by {{ revision.user }}</h4>
                        <p class="list-group-item-text">{{ revision.comment }}</p>
                    </span>
                </div>
    <button class="btn btn-link" ng-hide="currentRevisionPage == 0" ng-click="currentRevisionPage=currentRevisionPage-1">
        Newer...
    </button>
    <button class="btn btn-link pull-right" ng-hide="currentRevisionPage >= revisions.length/10 - 1" ng-click="currentRevisionPage=currentRevisionPage+1">
        Older...
    </button>
    <br style="clear: all"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<h1 class="page-header">
    {{ zone.name }} <small>{{ zone.account }}</small>

    <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle zone-actions-button" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><button type="button" onclick="$('#rollBackModal').modal()" class="btn-link btn">Roll back to previous revision...</button></li>
        </ul>
    </div>
</h1>

<table class="table zone-info">
    <tr>
        <th>Kind</th><td>{{ zone.kind }}</td><th>Records</th><td>{{ zone.records.length -countUnsavedRecords('creating') }}</td>
    </tr>
    <tr>
        <th>Serial</th><td>{{ zone.serial }}</td>
    </tr>
</table>

<div class="alert alert-warning" role="alert" ng-show="powerdnsError.length > 0">
    <strong>Error</strong> {{ powerdnsError }}
</div>

<div class="alert alert-success" role="alert" ng-show="powerdnsResult.length > 0">
    <strong>Success</strong> {{ powerdnsResult }}
</div>

<table class="table records table-hover" st-table="displayedRecords" st-safe-src="zone.records">
    <thead>
        <tr class="table-tools">
            <td colspan="3">
                <input st-search placeholder="Filter..." class="input-sm form-control" type="search"/>
            </td>
            <td colspan="2">
                <span class="pull-right">
                    <span ng-show="anyUnsavedRecords()"><span class="text-success">{{ countUnsavedRecords('created') }} created</span>, <span class="text-info">{{ countUnsavedRecords('updated') }} updated</span>, <span class="text-danger">{{ countUnsavedRecords('deleted') }} deleted</span></span>
                    <button type="button" class="btn btn-success" ng-click="addRecord()">Add record</button>
                    <button type="button" class="btn btn-primary" onclick="$('#saveModal').modal()" ng-disabled="!anyUnsavedRecords()">Save changes...</button>
                </span>
            </td>
        </tr>
        <tr>
            <th st-sort="name">Name</th><th st-skip-natural="true" st-sort-default="true" st-sort="sortByType">Type</th><th st-sort="ttl">TTL</th><th st-sort="content">Content</th><th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="record in displayedRecords" ng-class="{'bg-info': record.modification == 'updated' || (rowform.$visible &amp;&amp; !record.modification) , 'bg-danger': record.modification == 'deleted', 'bg-success': record.modification == 'created' || record.modification == 'creating'}">
            <td ng-click="rowform.$show()" class="col-md-2 record-name">
                <span ng-show="!rowform.$visible &amp;&amp; record.original.name != record.name &amp;&amp; record.original" class="original">{{ record.original.name }}<br></span>
                <span e-ng-keypress="keypress($event, rowform)" ng-if="record.type != 'SOA'" editable-text="record.name" e-name="name" e-form="rowform">{{ record.name }}</span>
                <span ng-if="record.type == 'SOA'">{{ zone.name }}</span>
            </td>
            <td ng-click="rowform.$show()" class="col-md-1 record-type">
                <span ng-show="!rowform.$visible &amp;&amp; record.original.type != record.type &amp;&amp; record.original" class="original">{{ record.original.type }}<br></span>
                <span e-ng-keypress="keypress($event, rowform)" ng-if="record.type != 'SOA'" editable-select="record.type" e-name="type" e-form="rowform" e-ng-options="name for (name, name) in recordTypes">{{ record.type }}</span>
                <span ng-if="record.type == 'SOA'">SOA</span>
            </td>
            <td ng-click="rowform.$show()" class="col-md-1 record-ttl">
                <span ng-show="!rowform.$visible &amp;&amp; record.original.ttl != record.ttl &amp;&amp; record.original" class="original">{{ record.original.ttl }}<br></span>
                <span e-ng-keypress="keypress($event, rowform)" editable-text="record.ttl" e-name="ttl" e-form="rowform">{{ record.ttl }}</span>
            </td>
            <td ng-click="rowform.$show()" class="record-content">
                <span ng-show="!rowform.$visible &amp;&amp; record.original.content != record.content &amp;&amp; record.original" class="original">{{ record.original.content }}<br></span>
                <span e-ng-keypress="keypress($event, rowform)" editable-text="record.content" e-name="content" e-form="rowform" e-id="barp">{{ record.content }}</span>
            </td>
            <td class="record-actions">
                <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onbeforesave="beforeUpdateRecord(record, $data)" onaftersave="afterUpdateRecord(record)" shown="record.modification == 'creating'" oncancel="resetRecord(record)">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default btn-link" title="Update" tabindex="-1"><span class="glyphicon glyphicon-ok" aria-hidden="true" ></span></button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"  class="btn btn-link" title="Cancel update" tabindex="-1"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
                </form>

                <button ng-show="!rowform.$visible &amp;&amp; record.type != 'SOA'" type="button" class="btn btn-link pull-right" ng-click="deleteRecord(record)" aria-label="Delete" title="Toggle deletion" tabindex="-1"><span class="glyphicon glyphicon-trash" aria-hidden="true" ng-hide="record.deleted"></span><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="record.deleted"></span></button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="50" st-displayed-pages="20"></div>
            </td>
        </tr>
    </tfoot>
</table>
