{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="{% block ngapp %}{% endblock %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Catalyst Zone Editor{% endblock %}</title>

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "client/css/xeditable.css" %}" rel="stylesheet">
    <link href="{% static "client/css/client.css" %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Catalyst Zone Editor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{ user.username }}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}<ui-view></ui-view>{% endblock %}

    <script type="text/javascript" src="{% static "client/lib/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "client/lib/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "angular/lib/angular.js" %}"></script>
    <script type="text/javascript" src="{% static "angular/lib/angular-ui-router.js" %}"></script>
    <script type="text/javascript" src="{% static "angular/lib/restangular.js" %}"></script>
    <script type="text/javascript" src="{% static "angular/lib/angular-filter.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/lib/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "client/lib/xeditable.js" %}"></script>
    <script type="text/javascript" src="{% static "client/lib/smart-table.js" %}"></script>

    {% block jsapp %}{% endblock %}
  </body>
</html>
